html {
    background-color: grey;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    margin-top: 15%;
    background-color: lightskyblue;
    border-radius: 2%;
}
#legend {
    color: white; 
    padding-top: 15px;
}
#tooltip { 
    visibility: hidden;
    width: auto;
    height: auto;
    color: white;
    padding-top: 5px;
}